@charset "ISO-8859-1";

h1 {
	text-align:center;
}

.formbox, .omikujibox {
	display: flex;
	justify-content: center;
	border: 2px solid black;
	margin-left: 25px;
	margin-right: 25px;
	padding: 15px;
}

input {
	margin-bottom: 15px;
}

.send {
	display: flex;
	justify-content: end;
}

.goback {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.omikujibox {
	background-color: lightblue;
}

#omikuji {
	font-size: 25px;
}